# Додаткове завдання з pandas
Вітаю! В цьому завданні будемо працювати з даними з опитування щодо зарплат ІТ спеціалістів на рексурсі DOU від грудня 2022 року. Впевнена, це буде цікаве дослідження, а заразом і практика pandas :)
Цей аналіз може бути корисним людині, яка обирає напрям роботи в ІТ і хоче зрозуміти тенденції. За якісного виконання цього аналізу, цей проєкт можна сміливо додавати у Ваше портфоліо!

1. Зчитайте дані з файлу `2022_dec_raw.csv`. Увага! Тут необхідно використати аргумент `pd.read_csv` `sep=';'`, бо розділювач в даних - крапка з комою.

In [4]:
import pandas as pd
df = pd.read_csv('C:\\Users\\kater\\Downloads\\2022_dec_raw.csv', sep=';')
print(df)

                 Timestamp  Ви працюєте зараз в ІТ?  \
0      11.30.2022 10:26:37    Так, працюю part-time
1      11.30.2022 10:26:39    Так, працюю full-time
2      11.30.2022 10:26:58    Так, працюю full-time
3      11.30.2022 10:27:31    Так, працюю full-time
4      11.30.2022 10:27:34  Ні, тимчасово не працюю
...                    ...                      ...
13310     01.09.2023 11:01    Так, працюю full-time
13311     01.09.2023 11:14    Так, працюю full-time
13312     01.09.2023 11:19    Так, працюю full-time
13313     01.09.2023 11:28    Так, працюю full-time
13314     01.09.2023 11:38    Так, працюю full-time

                                    Де ви зараз живете?   \
0                                              В Україні
1      За кордоном (переїхали через війну, але планую...
2                                              В Україні
3                                              В Україні
4                                              В Україні
...                                                  ...
13310                                          В Україні
13311  За кордоном (переїхали через війну, але планую...
13312                                          В Україні
13313                                          В Україні
13314  За кордоном (переїхали через війну, але планую...

      В якій області ви зараз живете?  \
0         Івано-Франківськ чи область
1                                 NaN
2                     Київ чи область
3                    Львів чи область
4                  Житомир чи область
...                               ...
13310               Харків чи область
13311                             NaN
13312               Дніпро чи область
13313                Одеса чи область
13314                             NaN

      Зарплата у $$$ за місяць, лише ставка після сплати податків Ваша стать  \
0                                                   4000             Чоловік
1                                                    NaN             Чоловік
2                                                   2500             Чоловік
3                                                    500               Жінка
4                                                   2800               Жінка
...                                                  ...                 ...
13310                                               4000             Чоловік
13311                                               3500             Чоловік
13312                                               1930             Чоловік
13313                                               4500             Чоловік
13314                                               4200             Чоловік

      Ваш вік                     Яка у вас освіта?  \
0          29  Вища (бакалавр, спеціаліст, магістр)
1          36  Вища (бакалавр, спеціаліст, магістр)
2          34  Вища (бакалавр, спеціаліст, магістр)
3          23  Вища (бакалавр, спеціаліст, магістр)
4          33  Вища (бакалавр, спеціаліст, магістр)
...       ...                                   ...
13310      25  Вища (бакалавр, спеціаліст, магістр)
13311      28  Вища (бакалавр, спеціаліст, магістр)
13312      25  Вища (бакалавр, спеціаліст, магістр)
13313      31                               Середня
13314      32  Вища (бакалавр, спеціаліст, магістр)

      Чи є у вас науковий ступінь?  Знання англійської мови  ... Ваша посада4  \
0                             Немає            Intermediate  ...          NaN
1                             Немає                Advanced  ...          NaN
2                             Немає              Elementary  ...          NaN
3                             Немає        Pre-Intermediate  ...          NaN
4                             Немає      Upper-Intermediate  ...          NaN
...                             ...                     ...  ...          ...
13310                         Немає            Intermediate  ...          NaN
13311                         Немає            Intermediate  ...          NaN
13312                         Немає            Intermediate  ...          NaN
13313                         Немає      Upper-Intermediate  ...          NaN
13314                         Немає      Upper-Intermediate  ...          NaN

      Ваша посада5 Ваша посада6 Ваша посада7  \
0              NaN          NaN          NaN
1              NaN          NaN          NaN
2              NaN          NaN          NaN
3              NaN          NaN          NaN
4              NaN          NaN          NaN
...            ...          ...          ...
13310          NaN          NaN          NaN
13311          NaN          NaN          NaN
13312          NaN          NaN          NaN
13313          NaN          NaN          NaN
13314          NaN          NaN          NaN

      Чи використовуєте ви у своїй роботі мови програмування (одну чи декілька)?  \
0                                                    NaN
1                                                    NaN
2                                                    NaN
3                                    Ні, не використовую
4                                    Ні, не використовую
...                                                  ...
13310                                  Так, використовую
13311                                                NaN
13312                                                NaN
13313                                                NaN
13314                                                NaN

      Основна мова програмування Вкажіть вашу основну спеціалізацію  \
0                            NaN                                NaN
1                           Ruby                Full Stack розробка
2                      C# / .NET                Full Stack розробка
3                            NaN                                NaN
4                            NaN                                NaN
...                          ...                                ...
13310                 TypeScript                                 QA
13311                 JavaScript                Front-end  розробка
13312                        NaN                                NaN
13313                 JavaScript                Full Stack розробка
13314                        PHP                 Back-end  розробка

                        В якій сфері працюєте?   Тип компанії  \
0                                   Blockchain        Стартап
1                 Public services / Government     Продуктова
2      Adtech / Advertising, Security, Telecom     Продуктова
3                                      Telecom     Продуктова
4                                   Automotive     Продуктова
...                                        ...            ...
13310                     Medtech / Healthcare     Продуктова
13311                               Blockchain  Аутсорсингова
13312    Blockchain, Fintech / Banking, Mobile  Аутсорсингова
13313                                   Mobile     Продуктова
13314                 High Load Systems, Media  Аутстафінгова

      Загальний стаж роботи за спеціальністю
0                                    8 років
1                                     3 роки
2                                     4 роки
3                                   Пів року
4                                    6 років
...                                      ...
13310                                6 років
13311                                5 років
13312                                 3 роки
13313                                8 років
13314                               11 років

[13315 rows x 28 columns]

2. Які колонки мають дані?

In [6]:
print(df.columns)

Index(['Timestamp', 'Ви працюєте зараз в ІТ?', 'Де ви зараз живете? ',
       'В якій області ви зараз живете?',
       'Зарплата у $$$ за місяць, лише ставка після сплати податків',
       'Ваша стать', 'Ваш вік', 'Яка у вас освіта?',
       'Чи є у вас науковий ступінь? ', 'Знання англійської мови',
       'Оберіть вашу посаду', 'Ваш тайтл', 'Ваша спеціалізація',
       'Вкажіть вашу спеціалізацію', 'Оберіть вашу спеціалізацію',
       'Ваша посада', 'Оберіть вашу посаду2', 'Ваша посада3', 'Ваша посада4',
       'Ваша посада5', 'Ваша посада6', 'Ваша посада7',
       'Чи використовуєте ви у своїй роботі мови програмування (одну чи декілька)?',
       'Основна мова програмування', 'Вкажіть вашу основну спеціалізацію',
       'В якій сфері працюєте?', 'Тип компанії',
       'Загальний стаж роботи за спеціальністю'],
      dtype='object')

3. Скільки рядків та колонок мають дані? Скільки пропущених значень має кожна з колонок?

In [7]:
print(f"Кількість рядків: {df.shape[0]}")
print(f"Кількість колонок: {df.shape[1]}")
missing_values = df.isnull().sum()
print("Кількість пропущених значень в кожній колонці:")
print(missing_values)

Кількість рядків: 13315
Кількість колонок: 28
Кількість пропущених значень в кожній колонці:
Timestamp                                                                         0
Ви працюєте зараз в ІТ?                                                           0
Де ви зараз живете?                                                               0
В якій області ви зараз живете?                                                1777
Зарплата у $$$ за місяць, лише ставка після сплати податків                      27
Ваша стать                                                                        0
Ваш вік                                                                           0
Яка у вас освіта?                                                                 0
Чи є у вас науковий ступінь?                                                    111
Знання англійської мови                                                           0
Оберіть вашу посаду                                                               0
Ваш тайтл                                                                         0
Ваша спеціалізація                                                            13156
Вкажіть вашу спеціалізацію                                                    10951
Оберіть вашу спеціалізацію                                                    12829
Ваша посада                                                                   13010
Оберіть вашу посаду2                                                          12755
Ваша посада3                                                                  12494
Ваша посада4                                                                  12830
Ваша посада5                                                                  13027
Ваша посада6                                                                  12962
Ваша посада7                                                                  13199
Чи використовуєте ви у своїй роботі мови програмування (одну чи декілька)?     8441
Основна мова програмування                                                     4255
Вкажіть вашу основну спеціалізацію                                             4256
В якій сфері працюєте?                                                            0
Тип компанії                                                                      0
Загальний стаж роботи за спеціальністю                                            0
dtype: int64

4. Які колонки мають всі значення заповненими (не мають дожного None значення)? Виведіть програмно список цих колонок.

In [8]:
columns_with_no_missing_values = df.columns[df.notna().all()]
print("Колонки без пропущених значень:")
print(columns_with_no_missing_values)

Колонки без пропущених значень:
Index(['Timestamp', 'Ви працюєте зараз в ІТ?', 'Де ви зараз живете? ',
       'Ваша стать', 'Ваш вік', 'Яка у вас освіта?', 'Знання англійської мови',
       'Оберіть вашу посаду', 'Ваш тайтл', 'В якій сфері працюєте?',
       'Тип компанії', 'Загальний стаж роботи за спеціальністю'],
      dtype='object')

5. Який тип мають колонки в наборі даних? Які з колонок типу object логічно на ваш погляд перетворити на числові колонки?

In [10]:
column_types = df.dtypes
print("Типи колонок:")
print(column_types)
object_columns_to_convert = df.select_dtypes(include=['object']).columns
print("Колонки типу object, які можна логічно перетворити на числові:")
print(object_columns_to_convert)

Типи колонок:
Timestamp                                                                     object
Ви працюєте зараз в ІТ?                                                       object
Де ви зараз живете?                                                           object
В якій області ви зараз живете?                                               object
Зарплата у $$$ за місяць, лише ставка після сплати податків                   object
Ваша стать                                                                    object
Ваш вік                                                                       object
Яка у вас освіта?                                                             object
Чи є у вас науковий ступінь?                                                  object
Знання англійської мови                                                       object
Оберіть вашу посаду                                                           object
Ваш тайтл                                                                     object
Ваша спеціалізація                                                            object
Вкажіть вашу спеціалізацію                                                    object
Оберіть вашу спеціалізацію                                                    object
Ваша посада                                                                   object
Оберіть вашу посаду2                                                          object
Ваша посада3                                                                  object
Ваша посада4                                                                  object
Ваша посада5                                                                  object
Ваша посада6                                                                  object
Ваша посада7                                                                  object
Чи використовуєте ви у своїй роботі мови програмування (одну чи декілька)?    object
Основна мова програмування                                                    object
Вкажіть вашу основну спеціалізацію                                            object
В якій сфері працюєте?                                                        object
Тип компанії                                                                  object
Загальний стаж роботи за спеціальністю                                        object
dtype: object
Колонки типу object, які можна логічно перетворити на числові:
Index(['Timestamp', 'Ви працюєте зараз в ІТ?', 'Де ви зараз живете? ',
       'В якій області ви зараз живете?',
       'Зарплата у $$$ за місяць, лише ставка після сплати податків',
       'Ваша стать', 'Ваш вік', 'Яка у вас освіта?',
       'Чи є у вас науковий ступінь? ', 'Знання англійської мови',
       'Оберіть вашу посаду', 'Ваш тайтл', 'Ваша спеціалізація',
       'Вкажіть вашу спеціалізацію', 'Оберіть вашу спеціалізацію',
       'Ваша посада', 'Оберіть вашу посаду2', 'Ваша посада3', 'Ваша посада4',
       'Ваша посада5', 'Ваша посада6', 'Ваша посада7',
       'Чи використовуєте ви у своїй роботі мови програмування (одну чи декілька)?',
       'Основна мова програмування', 'Вкажіть вашу основну спеціалізацію',
       'В якій сфері працюєте?', 'Тип компанії',
       'Загальний стаж роботи за спеціальністю'],
      dtype='object')

6. Трансформуйте колонки 'Ваш вік', 'Зарплата у $$$ за місяць, лише ставка після сплати податків' у тип даних float. УВАГА! Перед трансформацією подивіться, які дані містять ці колонки. Аби успішно трансформувати тип даних, треба спочатку привести рядки до того виду, який буде підходити, аби потім рядок зробити типом float.

In [11]:
print("Унікальні значення у колонці 'Ваш вік':")
print(df['Ваш вік'].unique())
print("\nУнікальні значення у колонці 'Зарплата у $$$ за місяць, лише ставка після сплати податків':")
print(df['Зарплата у $$$ за місяць, лише ставка після сплати податків'].unique())
df['Ваш вік'] = pd.to_numeric(df['Ваш вік'], errors='coerce')
df['Зарплата у $$$ за місяць, лише ставка після сплати податків'] = pd.to_numeric(df['Зарплата у $$$ за місяць, лише ставка після сплати податків'], errors='coerce')
print("\nТипи колонок після трансформації:")
print(df.dtypes)

Унікальні значення у колонці 'Ваш вік':
['29' '36' '34' '23' '33' '31' '30' '24' '27' '17' '25' '20' '26' '22'
 '19' '21' '18' '32' '35' '28' '37' '43' '44' '39' '50' '40' '38' '41'
 '45' '42' '49' '46' '47' '48' '55' '63' '58' '53' '54' '51' '56' '60'
 '16' '57' '29,5' '52' '14']

Унікальні значення у колонці 'Зарплата у $$$ за місяць, лише ставка після сплати податків':
['4000' nan '2500' '500' '2800' '5500' '1400' '1200' '650' '6000' '6600'
 '850' '1000' '1500' '3000' '800' '700' '1100' '7500' '10600' '3300'
 '5000' '2400' '1800' '2100' '4500' '2600' '3600' '3525' '1600' '3200'
 '570' '6500' '4200' '1700' '5320' '5300' '1490' '1250' '2700' '4700'
 '1300' '400' '2000' '1577' '10000' '550' '5600' '950' '3550' '4750'
 '2200' '1850' '5200' '3040' '5100' '2250' '6450' '3500' '1900' '4400'
 '2865' '5350' '3700' '2850' '6150' '680' '2169' '1350' '2222' '2185'
 '2750' '3760' '2300' '200' '4275' '7700' '978' '1710' '1170' '3100'
 '5700' '1863' '2900' '3135' '3400' '4300' '730' '8500' '2240' '7000'
 '3650' '5400' '4800' '3800' '6700' '2920' '4100' '5800' '750' '2811'
 '330' '970' '900' '4250' '16000' '1050' '8300' '600' '2550' '3183' '7600'
 '2350' '6100' '3750' '6840' '6200' '780' '5185' '6800' '3230' '2330'
 '8000' '930' '3990' '1150' '5415' '100' '6300' '1750' '4340' '1080'
 '7125' '620' '6250' '2870' '6900' '4560' '2985' '5450' '4600' '3250'
 '833' '2950' '951' '2070' '4150' '3900' '376' '3285' '325' '2150' '300'
 '1425' '1010' '2050' '7400' '285' '3420' '5550' '1527' '475' '9000'
 '2230' '4845' '2570' '3050' '1390' '7800' '3850' '920' '8200' '3895'
 '955' '6650' '7200' '5225' '1032' '4850' '7570' '3621' '1180' '2525'
 '342' '810' '4720' '660' '3950' '1136' '345' '11000' '1475' '670' '5250'
 '2430' '560' '530' '980' '4930' '4650' '1470' '7300' '2145' '5510' '350'
 '4550' '3333' '450' '1270' '5650' '1933' '1990' '820' '3465' '5900'
 '5130' '9300' '7100' '960' '3920' '760' '11250' '7050' '1550' '2325'
 '4350' '2650' '1615' '4450' '5142' '2180' '3469' '6175' '4180' '425'
 '610' '4888' '1430' '580' '6666' '250' '7980' '1140' '6030' '1650' '1883'
 '3618' '14000' '1340' '9800' '2080' '2980' '4050' '375' '2520' '2450'
 '5050' '6270' '3450' '4900' '4810' '3380' '5870' '2831' '2280' '2620'
 '5375' '470' '3205' '6400' '3325' '6125' '615' '260' '671' '6825' '1370'
 '1277' '2340' '2245' '1410' '5750' '7840' '7150' '2840' '625' '5055'
 '5204' '1116' '1335' '1040' '3370' '3350' '4465' '1115' '2630' '1185'
 '4410' '720' '9500' '5150' '7900' '4020' '5180' '7220' '1310' '6135'
 '3160' '4980' '420' '2260' '2375' '1950' '815' '926' '3287' '9200' '190'
 '145' '6040' '4760' '5970' '1230' '5035' '597' '3330' '3344' '1575' '623'
 '6566' '2090' '8100' '480' '3530' '1682' '490' '8700' '3060' '4370'
 '4141' '1860' '3255' '1125' '940' '1670' '1764' '2177' '3150' '5160'
 '4112' '13900' '7030' '1220' '860' '12500' '10300' '3286' '1375' '2860'
 '2470' '2510' '795' '2241' '1995' '19500' '1090' '880' '6850' '5880'
 '2560' '1610' '909' '1154' '7550' '6460' '17000' '7187' '1006' '1542,75'
 '11675' '590' '1915' '3808' '240' '6050' '7050,82' '975' '8400' '3560'
 '2410' '7350' '4322' '2413' '3140' '1420' '1160' '160' '2908' '1830'
 '3870' '4080' '1146' '14500' '1580' '6386' '785' '7045' '1620' '4999'
 '2761' '2940' '290' '1825' '8800' '1565' '1377' '10750' '130' '1135'
 '2890' '3841' '4236' '6370' '547' '540' '8900' '640' '410' '4320' '870'
 '4895' '510' '1520' '910' '548' '380' '5040' '1865' '715' '3770' '3314'
 '2324' '2760' '1669' '3085' '3172' '430' '2063' '1590' '4430' '911'
 '2810' '10275' '1480' '1585' '2744' '2315' '4715' '8075' '866' '4801'
 '3571' '2945' '1639' '12000' '1224' '4940' '1690' '1260' '3570' '1640'
 '555' '3290' '1450' '1384' '1740' '1760' '1870' '957' '5522' '1591'
 '1045' '2965' '2660' '1330' '2380' '3185' '4655' '630' '3133' '6350'
 '637' '1440' '725' '1111' '4230' '7238' '1093' '2635' '758,4' '2425'
 '915' '5140' '270' '1540' '1280' '875' '435' '775' '6330' '872' '1696'
 '2337' '487' '1920' '9470' '5207' '6480' '3940' '575' '7893' '472' '825'
 '1770' '790' '144' '6750' '1235' '845' '5660' '5640' '3430' '3321' '5054'
 '520' '914' '1886' '7063' '405' '2023' '518' '655' '577' '2530' '675'
 '11700' '13200' '1785' '4950' '855' '2068' '6365' '3063' '2133' '5280'
 '1560' '10450' '11400' '340' '1680' '1205' '370' '4270' '5580' '12436'
 '3360' '2355' '1757' '997,54' '2420' '275' '495' '647' '4990' '1725'
 '5890' '1880' '7450' '2667' '8125' '1541' '1380' '770' '2875' '935'
 '3404,33' '10900' '3965' '8550' '4085' '812' '4725' '582' '6637' '2052'
 '11100' '215' '8001' '565,5' '320' '1192' '719' '740' '2577' '3885' '735'
 '1284,78' '504' '2412' '8600' '925' '2225' '6550' '1244,5' '3375' '1623'
 '756' '150' '180' '6996' '5850' '569' '210' '6130' '2040' '2033' '2715'
 '10500' '546' '1970' '1907' '1130' '2755' '2432' '1327' '1089' '3491'
 '2160' '230' '10200' '6325' '1120' '3515' '2025' '390' '1633' '9100'
 '4225' '690' '1729' '885' '80' '2156' '2370' '14687' '1525' '1110' '4425'
 '1052' '2990' '1720' '13000' '9450' '4870' '942' '2565' '6935' '6120'
 '3002,69' '280' '414' '2880' '6080' '2453' '890' '1385' '3610' '3845'
 '6140' '798' '5260' '4030' '7250' '8445' '6950' '1584' '1660' '4880'
 '7166' '3280' '5287' '5775' '665' '1225' '415' '4360' '225' '217' '1255'
 '5432' '5776' '3896' '4210' '1223' '1030' '1624' '3470' '847' '3180'
 '1530' '1562' '50' '2190' '4072' '1068' '1256' '1556' '319' '830' '1063'
 '824' '2125' '492' '2770' '617' '2277' '6526' '7083' '1268' '1060' '3095'
 '840' '3908' '1513' '1671' '5667' '7320' '4740' '3480' '4802' '1955'
 '2610' '4530' '2170' '1368' '3670' '4480' '1251' '882' '5411' '835' '460'
 '1912' '5036' '4137' '3720' '459' '3855' '440' '6860' '5373' '3120'
 '2034' '224' '433' '934' '542' '1730' '6792' '9400' '2612' '1711' '1805'
 '4926' '2128' '1465' '9310' '1765' '523' '1122' '6272' '1945' '468'
 '5440' '2404' '2244' '2055' '327' '745' '5275' '3683' '628' '3833' '2729'
 '2616' '677' '1810' '988' '2220' '2480' '12100' '1782' '5340' '310'
 '9600' '995' '1275' '5836' '5860' '2665' '784' '1195' '3520' '243,76'
 '1448' '4044,69' '908' '3830' '956' '220' '2335' '1472' '1075' '476'
 '8150' '2978' '1468' '685' '360' '4330' '2675' '3044' '2625' '1155'
 '1570' '7425' '1360' '4456' '683' '324' '3740' '5470' '4970' '1190'
 '1666' '1641' '9285' '2206' '3215' '826' '6790' '743' '4224' '4830'
 '1820' '710' '7175' '12600' '2285' '1274' '1596' '3145' '545' '1320'
 '589' '533' '2780' '5115' '1663' '563' '5162' '5190' '1408' '5950' '7375'
 '1528' '1325' '491' '2111' '5454' '1175' '1326' '272' '467' '2060' '1717'
 '2975' '1156' '3790' '958' '876' '407' '271' '3975' '163' '2165' '1930']

Типи колонок після трансформації:
Timestamp                                                                      object
Ви працюєте зараз в ІТ?                                                        object
Де ви зараз живете?                                                            object
В якій області ви зараз живете?                                                object
Зарплата у $$$ за місяць, лише ставка після сплати податків                   float64
Ваша стать                                                                     object
Ваш вік                                                                       float64
Яка у вас освіта?                                                              object
Чи є у вас науковий ступінь?                                                   object
Знання англійської мови                                                        object
Оберіть вашу посаду                                                            object
Ваш тайтл                                                                      object
Ваша спеціалізація                                                             object
Вкажіть вашу спеціалізацію                                                     object
Оберіть вашу спеціалізацію                                                     object
Ваша посада                                                                    object
Оберіть вашу посаду2                                                           object
Ваша посада3                                                                   object
Ваша посада4                                                                   object
Ваша посада5                                                                   object
Ваша посада6                                                                   object
Ваша посада7                                                                   object
Чи використовуєте ви у своїй роботі мови програмування (одну чи декілька)?     object
Основна мова програмування                                                     object
Вкажіть вашу основну спеціалізацію                                             object
В якій сфері працюєте?                                                         object
Тип компанії                                                                   object
Загальний стаж роботи за спеціальністю                                         object
dtype: object

7. Це завдання з зірочкою! Нам треба транфсформувати колонку Timestamp у тип даних `datetime64[ns]`. Це не так просто як здається на першйий погляд :) Але це реальна ситуація, яка може трапитись при зборі даних в роботі аналітиком.
Я запропоную один зі способів виконати завдання, але ви можете написати по-своєму. Головне - отримати колонку - потрібного типу. 
Пропоную наступний алгоритм дій:
    1. Подивитись, які дані містяться в цій колонці. Виведіть перші і останні 5 записів. Чи однаковий формат цих даних? (спойлер: ні, бо інакше все було б просто :))
    2. Нам треба враховуючи різний формат даних перетворити рядок у колонці `Timestamp` на тип `datetime64[ns]`. Як це зробити? Для перетворення рядка на `datetime64` пропоную скористатись `datetime.datetime.strptime`.
    Для цього треба імпортувати бібліотеку `datetime`. Я пропоную написати функцію для обробки кожного окремого рядка, яка враховує довжину рядка і на основі цього застосовує різний формат даних дати.
    Як прописувати формат даних можна переглянути [тут](https://www.w3schools.com/python/python_datetime.asp).
    3. Коли функція для обробки кожного окремого рядка готова, застосуйте її для всіх даних з допомогою методу `apply`.

In [13]:
import datetime
print("Перші 5 записів:")
print(df['Timestamp'].head())
print("\nОстанні 5 записів:")
print(df['Timestamp'].tail())
def convert_to_datetime(timestamp):
    try:
        return datetime.datetime.strptime(timestamp, "%Y-%m-%d %H:%M:%S")
    except ValueError:
        return datetime.datetime.strptime(timestamp, "%d/%m/%Y %I:%M:%S %p")
df['Timestamp'] = df['Timestamp'].apply(convert_to_datetime)
print("\nПеретворена колонка 'Timestamp':")
print(df['Timestamp'].head())
print("\nТип колонки 'Timestamp' після перетворення:")
print(df['Timestamp'].dtype)

Перші 5 записів:
0    11.30.2022 10:26:37
1    11.30.2022 10:26:39
2    11.30.2022 10:26:58
3    11.30.2022 10:27:31
4    11.30.2022 10:27:34
Name: Timestamp, dtype: object

Останні 5 записів:
13310    01.09.2023 11:01
13311    01.09.2023 11:14
13312    01.09.2023 11:19
13313    01.09.2023 11:28
13314    01.09.2023 11:38
Name: Timestamp, dtype: object

ValueError: time data '11.30.2022 10:26:37' does not match format '%d/%m/%Y %I:%M:%S %p'

8. Для колонок типу даних object (які такими лишились після всіх наших трансформацій) виведіть кількість унікальних значень.

In [14]:
unique_values = df.select_dtypes(include=['object']).nunique()
print(unique_values)

Timestamp                                                                     10850
Ви працюєте зараз в ІТ?                                                           5
Де ви зараз живете?                                                               2
В якій області ви зараз живете?                                                  23
Ваша стать                                                                        2
Яка у вас освіта?                                                                 5
Чи є у вас науковий ступінь?                                                      3
Знання англійської мови                                                           5
Оберіть вашу посаду                                                              22
Ваш тайтл                                                                        10
Ваша спеціалізація                                                                8
Вкажіть вашу спеціалізацію                                                        4
Оберіть вашу спеціалізацію                                                       21
Ваша посада                                                                      15
Оберіть вашу посаду2                                                              7
Ваша посада3                                                                      7
Ваша посада4                                                                      5
Ваша посада5                                                                      6
Ваша посада6                                                                      2
Ваша посада7                                                                      4
Чи використовуєте ви у своїй роботі мови програмування (одну чи декілька)?        2
Основна мова програмування                                                       33
Вкажіть вашу основну спеціалізацію                                               12
В якій сфері працюєте?                                                         1768
Тип компанії                                                                      6
Загальний стаж роботи за спеціальністю                                           19
dtype: int64

9. Для колонок типу даних object виведіть топ 10 найбільш частих значень з кількістю рядків, в яких це значення зустрічається. Зробіть це для кожної колонки окремо. Наприклад, в циклі.  
Що цікавого бачите? Які висновки можна зробити? Що особисто Вас вразило?

In [15]:
for column in df.select_dtypes(include=['object']).columns:
    top_values = df[column].value_counts().head(10)
    print(f"Top 10 значень для колонки '{column}':\n{top_values}\n")

Top 10 значень для колонки 'Timestamp':
Timestamp
12.07.2022 12:54    29
12.07.2022 12:56    28
12.07.2022 12:57    25
12.07.2022 12:55    25
12.07.2022 12:58    24
12.07.2022 12:59    23
12.07.2022 13:01    19
12.07.2022 13:07    15
12.07.2022 13:00    15
12.07.2022 13:03    14
Name: count, dtype: int64

Top 10 значень для колонки 'Ви працюєте зараз в ІТ?':
Ви працюєте зараз в ІТ?
Так, працюю full-time      12643
Ні, тимчасово не працюю      380
Так, працюю part-time        152
Так, я фрилансер             115
Інше                          25
Name: count, dtype: int64

Top 10 значень для колонки 'Де ви зараз живете? ':
Де ви зараз живете?
В Україні                                                      11587
За кордоном (переїхали через війну, але планую повернутися)     1728
Name: count, dtype: int64

Top 10 значень для колонки 'В якій області ви зараз живете?':
В якій області ви зараз живете?
Київ чи область                4411
Львів чи область               2353
Дніпро чи область               751
Івано-Франківськ чи область     478
Вінниця чи область              447
Одеса чи область                443
Харків чи область               355
Полтава чи область              252
Черкаси чи область              232
Хмельницький чи область         230
Name: count, dtype: int64

Top 10 значень для колонки 'Ваша стать':
Ваша стать
Чоловік    10221
Жінка       3094
Name: count, dtype: int64

Top 10 значень для колонки 'Яка у вас освіта?':
Яка у вас освіта?
Вища (бакалавр, спеціаліст, магістр)    10645
Дві вищі                                 1002
Ще студент вишу                           811
Середня                                   447
Середня спеціальна                        410
Name: count, dtype: int64

Top 10 значень для колонки 'Чи є у вас науковий ступінь? ':
Чи є у вас науковий ступінь?
Немає                  12980
Кандидат наук / PhD      216
Доктор наук                8
Name: count, dtype: int64

Top 10 значень для колонки 'Знання англійської мови':
Знання англійської мови
Upper-Intermediate    5538
Intermediate          4475
Advanced              1622
Pre-Intermediate      1401
Elementary             279
Name: count, dtype: int64

Top 10 значень для колонки 'Оберіть вашу посаду':
Оберіть вашу посаду
Software Engineer (Junior, Middle, Senior, Team/Tech Lead, Architect)             6773
QA Engineer (Junior, Middle, Senior, Team/Tech Lead, Manager)                     2364
Project/Product/Program Manager, Product Owner, Scrum Master, Delivery Manager     821
HR/Recruiter                                                                       560
Designer / Artist (Graphic, UX/UI, Game, Artist, Sound etc.)                       486
Analyst (Business, Data, System)                                                   485
DevOps, SRE                                                                        353
Marketing, SEO, Copywriter                                                         305
Data Science, Machine Learning, Big Data                                           288
Game Developer / Programmer                                                        160
Name: count, dtype: int64

Top 10 значень для колонки 'Ваш тайтл':
Ваш тайтл
Middle            4710
Senior            3400
Junior            2316
Team Lead          883
Немає тайтлу       571
Tech Lead          430
Manager            375
Head               250
Intern/Trainee     240
Architect          140
Name: count, dtype: int64

Top 10 значень для колонки 'Ваша спеціалізація':
Ваша спеціалізація
Programmer                       89
Gameplay Programmer              42
Engine Programmer                 8
.NET Programmer                   6
Ul Programmer                     4
Rendering/Graphics Programmer     4
Al Programmer                     3
Інше                              3
Name: count, dtype: int64

Top 10 значень для колонки 'Вкажіть вашу спеціалізацію':
Вкажіть вашу спеціалізацію
Manual QA         1467
Automation QA      531
General QA         354
Performance QA      12
Name: count, dtype: int64

Top 10 значень для колонки 'Оберіть вашу спеціалізацію':
Оберіть вашу спеціалізацію
UI/UX Designer              201
Product Designer             60
3D Artist                    40
2D Artist                    35
Graphic / Video Designer     33
Game Designer                20
Designer                     15
Animator                     14
Other                        12
Web Designer                 11
Name: count, dtype: int64

Top 10 значень для колонки 'Ваша посада':
Ваша посада
Other                            44
Marketing Manager                44
SEO Specialist                   34
Digital Marketing Manager        33
Copywriter                       27
Chief Marketing Officer (CMO)    22
Employer Brand Manager           20
SMM Manager                      20
PR Manager                       16
Product Marketing Manager        11
Name: count, dtype: int64

Top 10 значень для колонки 'Оберіть вашу посаду2':
Оберіть вашу посаду2
Recruiter                             201
HR Manager                            131
Talent Acquisition Manager             52
Talent Researcher/Sourcer              51
HR Director                            45
HR Business Partner                    40
People partner / Happiness manager     40
Name: count, dtype: int64

Top 10 значень для колонки 'Ваша посада3':
Ваша посада3
Project Manager     443
Product Manager     135
Delivery Manager     88
Product Owner        67
Scrum Master         42
Program Manager      29
Business Manager     17
Name: count, dtype: int64

Top 10 значень для колонки 'Ваша посада4':
Ваша посада4
Business Analyst    289
Data Analyst        106
Product Analyst      34
System Analyst       32
BI Analyst           24
Name: count, dtype: int64

Top 10 значень для колонки 'Ваша посада5':
Ваша посада5
Data Engineer / Big Data Engineer    104
Data Scientist                        93
Machine Learning Engineer             46
Computer Vision Engineer              21
Research Engineer                     15
BI Engineer                            9
Name: count, dtype: int64

Top 10 значень для колонки 'Ваша посада6':
Ваша посада6
DevOps Engineer              325
Site Reliability Engineer     28
Name: count, dtype: int64

Top 10 значень для колонки 'Ваша посада7':
Ваша посада7
CTO                        41
Director of Engineering    33
CEO, (co-) founder         28
Program Director           14
Name: count, dtype: int64

Top 10 значень для колонки 'Чи використовуєте ви у своїй роботі мови програмування (одну чи декілька)?':
Чи використовуєте ви у своїй роботі мови програмування (одну чи декілька)?
Ні, не використовую    2754
Так, використовую      2120
Name: count, dtype: int64

Top 10 значень для колонки 'Основна мова програмування':
Основна мова програмування
JavaScript    1695
Java          1241
Python        1190
TypeScript    1179
C# / .NET     1179
PHP            627
Kotlin         286
C++            251
Swift          221
SQL            201
Name: count, dtype: int64

Top 10 значень для колонки 'Вкажіть вашу основну спеціалізацію':
Вкажіть вашу основну спеціалізацію
Back-end  розробка               2847
Full Stack розробка              1628
Front-end  розробка              1628
QA                               1079
Mobile  розробка                  665
Робота з даними, аналіз даних     558
DevOps                            308
Інше                              293
Embedded                           49
embedded                            2
Name: count, dtype: int64

Top 10 значень для колонки 'В якій сфері працюєте?':
В якій сфері працюєте?
Інша                    1445
E-commerce              1243
Fintech / Banking        942
Medtech / Healthcare     547
GameDev                  449
Gambling                 352
Edtech / Education       250
Telecom                  232
Mobile                   200
Adtech / Advertising     193
Name: count, dtype: int64

Top 10 значень для колонки 'Тип компанії':
Тип компанії
Аутсорсингова    5593
Продуктова       4940
Аутстафінгова    1767
Стартап           539
Інша              355
Фріланс           121
Name: count, dtype: int64

Top 10 значень для колонки 'Загальний стаж роботи за спеціальністю':
Загальний стаж роботи за спеціальністю
3 роки               1608
4 роки               1447
2 роки               1427
5 років              1351
1,5 року             1056
6 років               982
1 рік                 922
7 років               791
10 років              599
15 і більше років     586
Name: count, dtype: int64

10. Виведіть медіанну (медіана - це значення, менше якого є рівно 50% вибірки і більше якого є теж рівно 50% вибірки)
ЗП (Зарплата у $$$) для кожного рівня знання англійської. Які висновки можна зробити?

In [25]:
median_salary_by_english_level = df.groupby('Знання англійської мови')['Зарплата у $$$ за місяць, лише ставка після сплати податків'].median()
print(median_salary_by_english_level)

Знання англійської мови
Advanced              3500.0
Elementary            1155.0
Intermediate          2125.0
Pre-Intermediate      1408.0
Upper-Intermediate    3300.0
Name: Зарплата у $$$ за місяць, лише ставка після сплати податків, dtype: float64

11. Є така штука як сортування значень категоріальної змінної. Нам це зараз стане в нагоді, адже рівні англійської можна посортувати. 
Давайте відсотруємо рівні англ. і тайтли. Просто запустіть код нижче і проаналізуйте, що він робить.

In [31]:
df['Знання англійської мови'] = pd.Categorical(df['Знання англійської мови'], 
                      categories=['Elementary','Pre-Intermediate','Intermediate','Upper-Intermediate','Advanced'],
                      ordered=True)

df['Ваш тайтл'] = pd.Categorical(df['Ваш тайтл'], 
                      categories=['Intern/Trainee', 'Junior', 'Немає тайтлу', 'Middle', 'Senior', 'Tech Lead', 'Team Lead', 'Architect', 'Head', 'Manager'],
                      ordered=True)

12. Зробіть зводну таблицю, де стовпці - це 'Ваш тайтл', рядки - 'Знання англійської мови', а значення - медіанна ЗП. Які висновки можна зробити?
Тут ще для зручності можна зробити градієнтне забарвлення і відформатувати значення для легшого перегляду.

In [32]:
import pandas as pd
df['Знання англійської мови'] = pd.Categorical(df['Знання англійської мови'], 
                      categories=['Elementary','Pre-Intermediate','Intermediate','Upper-Intermediate','Advanced'],
                      ordered=True)
df['Ваш тайтл'] = pd.Categorical(df['Ваш тайтл'], 
                      categories=['Intern/Trainee', 'Junior', 'Немає тайтлу', 'Middle', 'Senior', 'Tech Lead', 'Team Lead', 'Architect', 'Head', 'Manager'],
                      ordered=True)
pivot_table = pd.pivot_table(df, values='Зарплата у $$$ за місяць, лише ставка після сплати податків', 
                             index='Знання англійської мови', columns='Ваш тайтл', aggfunc='median')
print(pivot_table)

Ваш тайтл                Intern/Trainee  Junior  Немає тайтлу  Middle  Senior  \
Знання англійської мови
Elementary                        500.0   600.0         550.0  1500.0  2500.0
Pre-Intermediate                  400.0   800.0         934.0  1825.0  3500.0
Intermediate                      400.0   900.0        1300.0  2200.0  4100.0
Upper-Intermediate                485.0  1000.0        1600.0  2500.0  4750.0
Advanced                          500.0  1000.0        2075.0  2500.0  4750.0

Ваш тайтл                Tech Lead  Team Lead  Architect    Head  Manager
Знання англійської мови
Elementary                  5000.0     2100.0        NaN  1500.0   1120.0
Pre-Intermediate            4000.0     2850.0     2900.0  2400.0   1225.0
Intermediate                5000.0     3800.0     5450.0  3500.0   2100.0
Upper-Intermediate          5650.0     4655.0     6400.0  4000.0   3600.0
Advanced                    6000.0     5000.0     7000.0  5000.0   4000.0

13. Виведіть результат методу describe() для топ 5 за частотою зустрічання в даних областей (В якій області ви зараз живете?). Зробіть висновки, де вигідніше жити з точки зору ЗП і чи суттєва різниця на Ваш погляд для прийняття рішення про переїзд?

In [36]:
top_regions = df['В якій області ви зараз живете?'].value_counts().head(5).index
subset_df = df[df['В якій області ви зараз живете?'].isin(top_regions)]
description = subset_df.groupby('В якій області ви зараз живете?')['Зарплата у $$$ за місяць, лише ставка після сплати податків'].describe()
print(description)

                                  count         mean          std    min  \
В якій області ви зараз живете?
Івано-Франківськ чи область       478.0  2705.257322  1905.673385  200.0
Вінниця чи область                446.0  2878.973094  1894.533883  100.0
Дніпро чи область                 751.0  2582.584554  1864.711284  100.0
Київ чи область                  4409.0  3142.334997  2039.949490   80.0
Львів чи область                 2351.0  3122.163760  2103.362239  150.0

                                    25%     50%     75%      max
В якій області ви зараз живете?
Івано-Франківськ чи область      1200.0  2372.5  3775.0  12436.0
Вінниця чи область               1300.0  2606.0  4087.5  11675.0
Дніпро чи область                1025.0  2000.0  3600.0  12000.0
Київ чи область                  1500.0  2800.0  4500.0  16000.0
Львів чи область                 1375.0  2700.0  4500.0  14000.0

14. Як зростає зарплата з роками? Для цього нам треба відформатувати колонку "Загальний стаж роботи за спеціальністю" аналогічно до того, як ми це робили для колонки 'Знання англійської мови' і потім вивести медіанні значення для кількості років стажу.

In [41]:
df['Загальний стаж роботи за спеціальністю'] = df['Загальний стаж роботи за спеціальністю'].apply(lambda x: float(''.join(filter(str.isdigit, str(x)))) if pd.notnull(x) else None)
median_salary_by_experience = df.groupby('Загальний стаж роботи за спеціальністю')['Зарплата у $$$ за місяць, лише ставка після сплати податків'].median()
print(median_salary_by_experience)

Загальний стаж роботи за спеціальністю
100.0     1050.0
200.0     1700.0
300.0     2068.0
400.0     3000.0
500.0     3500.0
600.0     4000.0
700.0     4250.0
800.0     4700.0
900.0     4500.0
1000.0    4600.0
1100.0    5000.0
1200.0    4750.0
1300.0    4500.0
1400.0    5050.0
1500.0    4500.0
Name: Зарплата у $$$ за місяць, лише ставка після сплати податків, dtype: float64

Далі тут можна зробити багато аналогічних агрегацій, проаналізувати, в який час люди заповнювали форму, хто більше отримує, Business Analyst, чи Data Analyst. Я вас заохочувати не стримувати свій інтерес і покапати ці дані далі :)